.image-panel, .contact-form-panel {
    display: inline-block;
    vertical-align: top;
}

.image-panel, .contact-form-panel {
    width: 100%;
}

input, textarea {
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -ms-transition: border-color 1s;
    -o-transition: border-color 1s;
    transition: border-color 1s;
}

input, select, textarea {
    padding: 10px;
}

input[type="submit"] {
    padding: 12px 20px;
}

input.focused-input, textarea.focused-input {
    border-color: #3967B1;
}

@media only screen and (min-width: 1023px) {

    .image-panel {
        width: 48%;
    }

    .contact-form-panel {
        width: 50%;
    }


    .image-panel , .contact-form-panel {
        padding: 10px;
    }

}